facelook_photo_management/in_photo/
facelook_photo_management/in_face/
facelook_photo_management/facelook_photo_management.log
facelook_photo_management/.DS_Store
.DS_Store
facelook_photo_management/out_photo/
