facelook_photo_management/in_photo/gathering_0001.jpeg
facelook_photo_management/in_face/donald.jpg
facelook_photo_management/facelook_photo_management.log
facelook_photo_management/.DS_Store
.DS_Store
